@import "global";
@import "mixins";
@import "components/landmark-editor";
@import 'grid-css-framework/dist/grid.scss';

body{
  background: #fef1e0;
  @include lte-desktop{
    background: #673AB7;
  }
  .app-card{
    background: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0px 1px 8px -4px #7b7a7a;
    padding: 0;
    margin: 10px;
  }
}
