@import "global";
@import "mixins";

body {
  background: #f3f3f4;

  .welcome-container {
    .list-group {
      p {
        font-size: 13px;
      }
    }
  }

  .app-card {
    background: #f3f3f4;
    //border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0;
    margin: 10px;
  }


  #inputPhoto {
    position: absolute;
    z-index: 0;

  }

  #viewport {
    position: relative;
    max-height: 80vh;
    min-height: 40vh;
    border: 1px solid #363434;
    border-radius: 5px;
    margin: 0 auto;
    //background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    // background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    background-size: 20px 20px;
    width: 277px;
    overflow: hidden;
    background: white;
    touch-action: none;
  }

  @media (max-aspect-ratio: 5/4) {
    #viewport {
      height: 50vh;
    }
  }
  @media (min-aspect-ratio: 4/5) {
    #viewport {
      height: 280px;

    }
  }

  .box {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .annotation {
    stroke: #aa15a1;
    stroke-width: 1.5;
    stroke-dasharray: 5, 2;
    stroke-opacity: 0.7;
  }

  .dimension-text {
    font-family: sans-serif;
    font-size: 1.2em;
    fill: lightgray;
  }

  .dimension-line {
    stroke-width: 1;
    stroke: lightgray;
  }

  .landmark {
    border: 1px solid green;
    border-radius: 50%;
    background-color: greenyellow;
    opacity: 0.6;
    float: left;
    position: absolute;
    visibility: hidden;
    border: 1px solid #179147;
    border-radius: 50%;
    background-color: #69ffce;
  }

  .preview-component {
    .debug-canvas-container {
      & > * {
        margin: 0 auto;
      }

    }

    p.title {
      font-size: 16px;
      color: #245b71;
    }

    .previews {
      text-align: center;

      .preview {
        display: inline-block;
        border: 4px solid #a4a2a2d4;
        position: relative;
        cursor: pointer;


        &.active {
          border: 4px solid #41b0e6;
        }
        $corner-size: 125px;

        &[class*="corner-"]:after{
          content: "";
          width: 0;
          height: 0;
          z-index: 1;
          position: absolute;
        }
        &.corner-BR::after{
          border-bottom: $corner-size solid white;
          border-left: $corner-size solid transparent;
          bottom: 0;
          right: 0;
        }

        &.corner-BL::after{
          border-bottom: $corner-size solid white;
          border-right: $corner-size solid transparent;
          bottom: 0;
          left: 0;
        }

        &.corner-TR::after{
          border-top: $corner-size solid white;
          border-left: $corner-size solid transparent;
          top: 0;
          right: 0;
        }

        &.corner-TL::after{
          border-top: $corner-size solid white;
          border-right: $corner-size solid transparent;
          top: 0;
          left: 0;
        }

        &.preloader-scan{

          &>.diode {
            //animation: beam .01s infinite;
            &>.laser {
              width: 100%;
              margin-left: 0;
              background-color: tomato;
              height: 1px;
              position: absolute;
              top: 0;
              z-index: 2;
              box-shadow: 0 0 4px red;
              animation: scanning 4s infinite;
            }
          }

          @keyframes beam {
            50% {
              opacity: 0;
            }
          }

          @keyframes scanning {
            50% {
              transform: translateY(333px);
            }
          }
        }

      }

    }

    .text-info {
      font-size: 14px;
    }

    label {
      margin: 0;
      font-size: 12px;
    }

    input[type='number'] {
      @include gte-tablet {
        max-width: 70px;
      }
    }
  }

  .grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}

p.label {
  font-size: 12px;
  color: #535353;
}

.lower-canvas {
  border: none !important;
}